{% load client_lib_tags %}
{% load base_tags %}
{% load get_menu_json %}
{% comment %}
    app and map configuration need to be normalized
{% endcomment %}

{% comment %} setting.py variables {% endcomment %}
{{GEONODE_SETTINGS|json_script:"GEONODE_SETTINGS" }}

{% comment %} menu items {% endcomment %}

{% get_menu_json 'CARDS_MENU' as CARDS_MENU %}
{{ CARDS_MENU|json_script:"menu-CARDS_MENU" }}

<script>
    (function(){

        function checkBoolean(value) {
            if (value === 'true') {
                return true;
            }
            if (value === 'false') {
                return false;
            }
            return value;
        }
        function getJSONScriptVariable(id, fallback) {
            const node = document.getElementById(id);
            return checkBoolean(node && JSON.parse(node.textContent) || fallback);
        }

        localStorage.setItem('showPopoverSync', false);

        const cardsMenuItems = getJSONScriptVariable('menu-CARDS_MENU', []);
        const geoNodeSettings = getJSONScriptVariable('GEONODE_SETTINGS', {});

        const baseLayers = geoNodeSettings.MAP_BASELAYERS || [];
        const baseLayersSources = geoNodeSettings.MAP_BASELAYERS_SOURCES || {};
        const defaultMapCRS = geoNodeSettings.DEFAULT_MAP_CRS || 'EPSG:3857';
        const defaultMapCenterX = geoNodeSettings.DEFAULT_MAP_CENTER_X || 0;
        const defaultMapCenterY = geoNodeSettings.DEFAULT_MAP_CENTER_Y || 0;
        const defaultMapZoom = geoNodeSettings.DEFAULT_MAP_ZOOM || 0;
        const defaultTileSize = geoNodeSettings.DEFAULT_TILE_SIZE || 512;
        const datasetMaxUploadSize = geoNodeSettings.DATASET_MAX_UPLOAD_SIZE;
        const documentMaxUploadSize = geoNodeSettings.DOCUMENT_MAX_UPLOAD_SIZE;
        const maxParallelUploads = geoNodeSettings.MAX_PARALLEL_UPLOADS
        const defaultLayerFormat = geoNodeSettings.DEFAULT_LAYER_FORMAT || 'image/png';
        const catalogueServices = geoNodeSettings.CATALOGUE_SERVICES || {};
        const catalogueSelectedService = geoNodeSettings.CATALOGUE_SELECTED_SERVICE || '';
        const timeEnabled = geoNodeSettings.TIME_ENABLED || false;
        const allowedDocumentTypes = geoNodeSettings.ALLOWED_DOCUMENT_TYPES || [];
        const languages = geoNodeSettings.LANGUAGES;
        const projectionDefs = geoNodeSettings.PROJECTION_DEFS || [];
        const pluginsConfigPatchRules  = geoNodeSettings.PLUGINS_CONFIG_PATCH_RULES || [];
        const translationsPath = geoNodeSettings.TRANSLATIONS_PATH;
        const extensionsFolder = geoNodeSettings.EXTENSIONS_FOLDER_PATH;

        const isEmbed = checkBoolean('{{ is_embed }}') || false;
        const pluginsConfigKey = '{{ plugins_config_key }}';
        const siteUrl = '{{ SITEURL }}' || '';
        const siteName = '{{ SITE_NAME }}' || 'Geonode';
        const geoServerPublicLocation = '{{ GEOSERVER_PUBLIC_LOCATION }}' || '';
        const isMobile = '{{ request.user_agent.is_mobile }}' === 'True' ? true : false;

        window.__GEONODE_CONFIG__ = {
            languageCode: '{{ LANGUAGE_CODE }}',
            languages: languages,
            translationsPath: translationsPath,
            resourceId: '{{ resource.pk|default:"" }}',
            resourceType: '{{ resource.resource_type|default:"" }}',
            isEmbed: isEmbed,
            pluginsConfigKey: pluginsConfigKey,
            pluginsConfigPatchRules: pluginsConfigPatchRules,
            localConfig: {
                proxyUrl: {
                    url: '{{ PROXY_URL|default:"/proxy/?url=" }}',
                    useCORS: []
                },
                extensionsFolder: extensionsFolder,
                printUrl: geoServerPublicLocation + 'pdf/info.json',
                bingApiKey: '{% bing_api_key %}',
                geoNodeApi: {
                    endpointV1: siteUrl + 'api',
                    endpointV2: siteUrl + 'api/v2'
                },
                projectionDefs: projectionDefs,
                // the properties inside geoNodeSettings are stored in the state
                // and accessible by the monitored state with state('settings')
                geoNodeSettings: {
                    catalogueSelectedService: catalogueSelectedService,
                    catalogueServices: catalogueServices,
                    geonodeUrl: siteUrl,
                    geoserverUrl: geoServerPublicLocation,
                    siteName: siteName,
                    defaultTileSize: defaultTileSize,
                    defaultLayerFormat: defaultLayerFormat,
                    timeEnabled: timeEnabled,
                    allowedDocumentTypes: allowedDocumentTypes,
                    isMobile: isMobile,
                    datasetMaxUploadSize: datasetMaxUploadSize,
                    documentMaxUploadSize: documentMaxUploadSize,
                    maxParallelUploads: maxParallelUploads,
                },
                geoNodeConfiguration: {
                    cardsMenu: {
                        items: cardsMenuItems
                    }
                }
            }, 
        };

        // override maps configuration with properties from setting.py
        window.overrideNewMapConfig = function(config) {
            if (config && config.map && config.map.layers) {
                config.map.layers.push(...baseLayers);
            }
            config.map.sources = baseLayersSources;
            config.map.projection = defaultMapCRS;
            config.map.center = {
                x: defaultMapCenterX,
                y: defaultMapCenterY,
                crs: defaultMapCRS
            };
            config.map.zoom = defaultMapZoom;

            config.catalogServices = config.catalogServices || { services: {} };
            if (catalogueServices) {
                config.catalogServices.services = Object.assign(config.catalogServices.services || {}, catalogueServices);
            }
            if (catalogueSelectedService) {
                config.catalogServices.selectedService = catalogueSelectedService;
            }
            return config;
        };

        // override new geostory configuration
        // window.overrideNewGeoStoryConfig = function(config) { return config; };

    })();
</script>
{% block override_local_config %}
{% if job_name == 'swamm' %}
    <script type="text/javascript">
        (function(window, document, dataLayerName, id) {
        window[dataLayerName]=window[dataLayerName]||[],window[dataLayerName].push({start:(new Date).getTime(),event:"stg.start"});var scripts=document.getElementsByTagName('script')[0],tags=document.createElement('script');
        function stgCreateCookie(a,b,c){var d="";if(c){var e=new Date;e.setTime(e.getTime()+24*c*60*60*1e3),d="; expires="+e.toUTCString()}document.cookie=a+"="+b+d+"; path=/"}
        var isStgDebug=(window.location.href.match("stg_debug")||document.cookie.match("stg_debug"))&&!window.location.href.match("stg_disable_debug");stgCreateCookie("stg_debug",isStgDebug?1:"",isStgDebug?14:-1);
        var qP=[];dataLayerName!=="dataLayer"&&qP.push("data_layer_name="+dataLayerName),isStgDebug&&qP.push("stg_debug");var qPString=qP.length>0?("?"+qP.join("&")):"";
        tags.async=!0,tags.src="https://hydrata.containers.piwik.pro/"+id+".js"+qPString,scripts.parentNode.insertBefore(tags,scripts);
        !function(a,n,i){a[n]=a[n]||{};for(var c=0;c<i.length;c++)!function(i){a[n][i]=a[n][i]||{},a[n][i].api=a[n][i].api||function(){var a=[].slice.call(arguments,0);"string"==typeof a[0]&&window[dataLayerName].push({event:n+"."+i+":"+a[0],parameters:[].slice.call(arguments,1)})}}(i[c])}(window,"ppms",["tm","cm"]);
        })(window, document, 'dataLayer', 'abcdd6c8-5b23-4263-8616-04442c6c5f8f');
    </script>
{% elif job_name == 'sararaportal' %}
    <script type="text/javascript">
        (function(window, document, dataLayerName, id) {
        window[dataLayerName]=window[dataLayerName]||[],window[dataLayerName].push({start:(new Date).getTime(),event:"stg.start"});var scripts=document.getElementsByTagName('script')[0],tags=document.createElement('script');
        function stgCreateCookie(a,b,c){var d="";if(c){var e=new Date;e.setTime(e.getTime()+24*c*60*60*1e3),d="; expires="+e.toUTCString()}document.cookie=a+"="+b+d+"; path=/"}
        var isStgDebug=(window.location.href.match("stg_debug")||document.cookie.match("stg_debug"))&&!window.location.href.match("stg_disable_debug");stgCreateCookie("stg_debug",isStgDebug?1:"",isStgDebug?14:-1);
        var qP=[];dataLayerName!=="dataLayer"&&qP.push("data_layer_name="+dataLayerName),isStgDebug&&qP.push("stg_debug");var qPString=qP.length>0?("?"+qP.join("&")):"";
        tags.async=!0,tags.src="https://hydrata.containers.piwik.pro/"+id+".js"+qPString,scripts.parentNode.insertBefore(tags,scripts);
        !function(a,n,i){a[n]=a[n]||{};for(var c=0;c<i.length;c++)!function(i){a[n][i]=a[n][i]||{},a[n][i].api=a[n][i].api||function(){var a=[].slice.call(arguments,0);"string"==typeof a[0]&&window[dataLayerName].push({event:n+"."+i+":"+a[0],parameters:[].slice.call(arguments,1)})}}(i[c])}(window,"ppms",["tm","cm"]);
        })(window, document, 'dataLayer', 'c4cdd6cf-9120-4c74-bf2e-79b87e432178');
    </script>
{% elif job_name == 'nicp' %}
    <script type="text/javascript">
        (function(window, document, dataLayerName, id) {
        window[dataLayerName]=window[dataLayerName]||[],window[dataLayerName].push({start:(new Date).getTime(),event:"stg.start"});var scripts=document.getElementsByTagName('script')[0],tags=document.createElement('script');
        function stgCreateCookie(a,b,c){var d="";if(c){var e=new Date;e.setTime(e.getTime()+24*c*60*60*1e3),d="; expires="+e.toUTCString()}document.cookie=a+"="+b+d+"; path=/"}
        var isStgDebug=(window.location.href.match("stg_debug")||document.cookie.match("stg_debug"))&&!window.location.href.match("stg_disable_debug");stgCreateCookie("stg_debug",isStgDebug?1:"",isStgDebug?14:-1);
        var qP=[];dataLayerName!=="dataLayer"&&qP.push("data_layer_name="+dataLayerName),isStgDebug&&qP.push("stg_debug");var qPString=qP.length>0?("?"+qP.join("&")):"";
        tags.async=!0,tags.src="https://hydrata.containers.piwik.pro/"+id+".js"+qPString,scripts.parentNode.insertBefore(tags,scripts);
        !function(a,n,i){a[n]=a[n]||{};for(var c=0;c<i.length;c++)!function(i){a[n][i]=a[n][i]||{},a[n][i].api=a[n][i].api||function(){var a=[].slice.call(arguments,0);"string"==typeof a[0]&&window[dataLayerName].push({event:n+"."+i+":"+a[0],parameters:[].slice.call(arguments,1)})}}(i[c])}(window,"ppms",["tm","cm"]);
        })(window, document, 'dataLayer', '284ed9dd-3562-4356-8739-27dff75a8608');
    </script>
{% elif job_name == 'hydratabase' %}
    {% include '../gn_anuga/_navbar.html' %}
    <script type="text/javascript">
        (function(window, document, dataLayerName, id) {
        window[dataLayerName]=window[dataLayerName]||[],window[dataLayerName].push({start:(new Date).getTime(),event:"stg.start"});var scripts=document.getElementsByTagName('script')[0],tags=document.createElement('script');
        function stgCreateCookie(a,b,c){var d="";if(c){var e=new Date;e.setTime(e.getTime()+24*c*60*60*1e3),d="; expires="+e.toUTCString()}document.cookie=a+"="+b+d+"; path=/"}
        var isStgDebug=(window.location.href.match("stg_debug")||document.cookie.match("stg_debug"))&&!window.location.href.match("stg_disable_debug");stgCreateCookie("stg_debug",isStgDebug?1:"",isStgDebug?14:-1);
        var qP=[];dataLayerName!=="dataLayer"&&qP.push("data_layer_name="+dataLayerName),isStgDebug&&qP.push("stg_debug");var qPString=qP.length>0?("?"+qP.join("&")):"";
        tags.async=!0,tags.src="https://hydrata.containers.piwik.pro/"+id+".js"+qPString,scripts.parentNode.insertBefore(tags,scripts);
        !function(a,n,i){a[n]=a[n]||{};for(var c=0;c<i.length;c++)!function(i){a[n][i]=a[n][i]||{},a[n][i].api=a[n][i].api||function(){var a=[].slice.call(arguments,0);"string"==typeof a[0]&&window[dataLayerName].push({event:n+"."+i+":"+a[0],parameters:[].slice.call(arguments,1)})}}(i[c])}(window,"ppms",["tm","cm"]);
        })(window, document, 'dataLayer', '039a9af7-d329-4e94-9de1-d194de99e103');
    </script>
{% elif job_name == 'codelco' %}
    <script type="text/javascript">
        (function(window, document, dataLayerName, id) {
        window[dataLayerName]=window[dataLayerName]||[],window[dataLayerName].push({start:(new Date).getTime(),event:"stg.start"});var scripts=document.getElementsByTagName('script')[0],tags=document.createElement('script');
        function stgCreateCookie(a,b,c){var d="";if(c){var e=new Date;e.setTime(e.getTime()+24*c*60*60*1e3),d="; expires="+e.toUTCString()}document.cookie=a+"="+b+d+"; path=/"}
        var isStgDebug=(window.location.href.match("stg_debug")||document.cookie.match("stg_debug"))&&!window.location.href.match("stg_disable_debug");stgCreateCookie("stg_debug",isStgDebug?1:"",isStgDebug?14:-1);
        var qP=[];dataLayerName!=="dataLayer"&&qP.push("data_layer_name="+dataLayerName),isStgDebug&&qP.push("stg_debug");var qPString=qP.length>0?("?"+qP.join("&")):"";
        tags.async=!0,tags.src="https://hydrata.containers.piwik.pro/"+id+".js"+qPString,scripts.parentNode.insertBefore(tags,scripts);
        !function(a,n,i){a[n]=a[n]||{};for(var c=0;c<i.length;c++)!function(i){a[n][i]=a[n][i]||{},a[n][i].api=a[n][i].api||function(){var a=[].slice.call(arguments,0);"string"==typeof a[0]&&window[dataLayerName].push({event:n+"."+i+":"+a[0],parameters:[].slice.call(arguments,1)})}}(i[c])}(window,"ppms",["tm","cm"]);
        })(window, document, 'dataLayer', '6c7343a7-5eb2-4edf-a708-b7eb3d0d638e');
    </script>
{% endif %}
{% endblock %}

