
<style>
    {% block extra_css %}
        {{ custom_theme.extra_css }}
    {% endblock %}

    {% if job_name == 'hydratabase' %}
    .msgapi .gn-theme {
        --gn-primary: #346094;
        --gn-primary-contrast: #ffffff;
        --gn-link-color: #346094;
        --gn-link-hover-color: #1b4d74;
        --gn-focus-color: rgba(52, 96, 148, 0.4);
        --gn-jumbotron-bg: #0c3756;
        --gn-jumbotron-color: #ffffff;
        --gn-footer-bg: #325f93;
        --gn-footer-color: #ffffff;
        --gn-footer-link-color: #ffffff;
        --gn-footer-link-hover-color: #cccccc;
        --gn-main-bg: #ffffff;
    }
    {% elif job_name == 'swamm' %}
    .msgapi .gn-theme {
        --gn-primary: #155481;
        --gn-primary-contrast: #ffffff;
        --gn-link-color: #155481;
        --gn-link-hover-color: #0e3a5a;
        --gn-focus-color: rgba(21, 84, 129, 0.4);
        --gn-jumbotron-bg: #155481;
        --gn-jumbotron-color: #ffffff;
        --gn-footer-bg: #ffffff;
        --gn-footer-color: #000000;
        --gn-footer-link-color: #000000;
        --gn-main-bg: #ffffff;
    }
    {% elif job_name == 'sararaportal' %}
    .msgapi .gn-theme {
        --gn-primary: #155481;
        --gn-primary-contrast: #ffffff;
        --gn-link-color: #155481;
        --gn-link-hover-color: #0e3a5a;
        --gn-focus-color: rgba(21, 84, 129, 0.4);
        --gn-jumbotron-bg: #155481;
        --gn-jumbotron-color: #ffffff;
        --gn-footer-bg: #ffffff;
        --gn-footer-color: #000000;
        --gn-footer-link-color: #000000;
        --gn-main-bg: #ffffff;
    }
    {% elif job_name == 'nicp' %}
    .msgapi .gn-theme {
        --gn-primary: #2396c5;
        --gn-primary-contrast: #ffffff;
        --gn-link-color: #2396c5;
        --gn-link-hover-color: #1a7199;
        --gn-focus-color: rgba(35, 150, 197, 0.4);
        --gn-jumbotron-bg: #ffffff;
        --gn-jumbotron-color: #2396c5;
        --gn-footer-bg: #ffffff;
        --gn-footer-color: #000000;
        --gn-footer-link-color: #2396c5;
        --gn-main-bg: #ffffff;
    }
    {% endif %}
</style>
{% block content %}
{% endblock %}
