{% load static %}
<footer class="footer gn-footer" style="border-top: solid #1a4a6eaa 1px;">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <a href="https://www.northwaterconsulting.com/" style="font-size:20px">
                    &copy; Northwater Consulting 2026
                </a>
            </div>
            <div class="col-md-6 text-align right">
                <span class="pull-right">
                    <a href="https://hydrata.com/" style="font-size:20px">
                        by Hydrata <img src="{{ STATIC_URL }}sararaportal/img/hydrata_logo_rect_no_text.png" height="30px">
                    </a>
                </span>
            </div>
        </div>
    </div>
</footer>