{% load static %}
<footer class="footer gn-footer gn-footer-hydratabase">
    <div class="container">
        <div class="row">
            <div class="col-md-6 gn-footer-left">
                <a class="gn-footer-copyright" href="https://hydrata.com/">
                    &copy; Hydrata {% now "Y" %}
                </a>
                <nav class="gn-footer-nav" aria-label="Footer">
                    <ul>
                        <li><a href="/docs/">Docs</a></li>
                        <li><a href="/docs/mcp/">MCP</a></li>
                        <li><a href="https://github.com/Hydrata">GitHub</a></li>
                        <li><a href="/privacy-policy">Privacy Policy</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-md-6 gn-footer-right">
                <a class="gn-footer-logo" href="https://hydrata.com/">
                    <img src="{{ STATIC_URL }}hydratabase/img/logo-bg-lowres.png" height="30" alt="Hydrata">
                </a>
            </div>
        </div>
    </div>
</footer>
