{% load static %}

{% block extra_head %}
    <link rel="preconnect" href="https://api.maptiler.com">
    <link href="{% static 'hydratabase/css/geonode-navbar-fixes.css' %}?{{ deploy_commit }}" rel="stylesheet"/>
    <link href="{% static 'sararaportal/css/sararaportal_base.css' %}?{{ deploy_commit }}" rel="stylesheet"/>
    <link href="{% static 'sararaportal/css/sararaportal_home.css' %}?{{ deploy_commit }}" rel="stylesheet"/>
    <meta property="og:title" content="SararaPortal - Haiti Geology and Hydrogeology" />
    <meta property="og:description" content="Library and Map Collection for Haiti's geological and hydrogeological resources" />
    <meta property="og:url" content="https://sararaportal.com" />
{% endblock extra_head %}

<header class="gn-main-header sararaportal-dummy-class-header_sararaportal">
    {% include './navbar_sararaportal.html'  with id='gn-brand-navbar' %}
</header>

<div class="gn-main-header-placeholder"></div>
{% if show_hero %}
    {% include './hero_sararaportal.html' %}
{% endif %}

{#{% include './topbar.html' with id='gn-topbar' %}#}

<script>
    (function () {
        const mainHeader = document.querySelector('.gn-main-header');
        const mainHeaderPlaceholder = document.querySelector('.gn-main-header-placeholder');
        const topbar = document.querySelector('#gn-topbar');
        function resize() {
            if (mainHeaderPlaceholder && mainHeader) {
                mainHeaderPlaceholder.style.height = mainHeader.clientHeight + 'px';
            }
            if (topbar && mainHeader) {
                topbar.style.top = mainHeader.clientHeight + 'px';
            }
        }
        window.addEventListener('resize', resize);
        window.addEventListener('DOMContentLoaded', resize);
        resize();
    })();
</script>