{% load i18n %}
{% load static %}

<div id="gn-hero" class="gn-hero hydrata-hero-background">
    <div class="jumbotron">
        <div class="gn-hero-description">
            <h1>Hydrata</h1>
            <p>Online, open-source, surface water modelling</p>
        </div>
        <p class="gn-hero-tools">
        </p>
    </div>
</div>
{% if user.is_authenticated %}
<div>
    <div class="container text-center hero container-fluid">
        <div class="gn-container" style="text-shadow: none;">
            <div id="gn-home-anuga-resources-grid"></div>
        </div>
    </div>

    <div id="new-project-form">
        <form action="/anuga/api/project/" method="post">
            <label for="name" id="project-create-text">Create New Project:</label>
            <input type="text" id="name" name="name" value="" placeholder="project name" class="project-create-text-input"/>
            <input type="submit" value="Create" class="btn btn-success"/>
            {% csrf_token %}
        </form>
    </div>
</div>
{% endif %}

<div class="container">
    <div class="row feature-circles">
        <div class="col-lg-4">
            <img class="img-circle" src="{% static 'hydratabase/img/secure.jpg' %}" alt="online" width="140" height="140">
            <h1 style="font-size: revert">Secure</h1>
            <p class="lead">Our web-based permissions system means you can securely share, review, run, and publish models, without having to install any software.</p>
        </div>
        <div class="col-lg-4">
            <img class="img-circle" src="{% static 'hydratabase/img/growth.jpg' %}" alt="future" width="140" height="140">
            <h1 style="font-size: revert">Open Source</h1>
            <p class="lead">Built on the open-source ANUGA 2d hydraulic model. No licence fees. Need a new feature or customisation? <a target="_blank" href="https://github.com/anuga-community/anuga_core">Submit a pull request or log an issue.</a></p>
        </div>
        <div class="col-lg-4">
            <img class="img-circle" src="{% static 'hydratabase/img/peregrine.jpg' %}" alt="agile" width="140" height="140">
            <h1 style="font-size: revert">Freedom</h1>
            <p class="lead">You have complete control over your data and code. You can download, archive, or modify your projects on your own systems, whenever you need to.</p>
        </div>
    </div>
</div>

<div class="container text-center hero container-fluid">
    <div class="gn-container" style="text-shadow: none;">
        <div id="gn-home-featured-resources-grid"></div>
    </div>
</div>

<footer class="footer gn-footer" style="border-top: solid #3d7eb5aa 1px; position: relative">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-align right">
                <span class="pull-right">
                    <a href="http://hydrata.com/" style="font-size:20px">
                        &copy Hydrata 2023 <img src="{{ STATIC_URL }}img/logo-bg-lowres.png" height="30px">
                    </a>
                </span>
            </div>
        </div>
    </div>
</footer>