{% load i18n %}
{% load static %}

<div id="gn-hero" class="gn-hero" style="background-color: #1a4a6e">
    <div class="jumbotron">
        <div class="gn-hero-description">
            <h1>Republic of Haiti</h1>
            <p>Geology and Hydrogeology - Library and Map Collection</p>
        </div>
        <p class="gn-hero-tools">
        </p>
    </div>
</div>

{% block extra_head %}
    <link href="{% static 'sararaportal/css/sararaportal_base.css' %}" rel="stylesheet"/>
    <link href="{% static 'sararaportal/css/sararaportal_home.css' %}" rel="stylesheet"/>
    <meta property="og:title" content="SararaPortal - Haiti Geology and Hydrogeology" />
    <meta property="og:description" content="Library and Map Collection for Haiti's geological and hydrogeological resources" />
    <meta property="og:url" content="https://sararaportal.com" />
{% endblock extra_head %}

<div>
    <div class="container-fluid water-background">
        <div class="container text-center hero" style="padding: 40px 0;">
            <h2 style="margin-bottom: 30px;">Library and Map Collection</h2>
            <p style="margin: 30px 0;">
                <a class="btn btn-lg btn-success" href="/catalogue/#/search/?f=document" role="button" style="margin: 5px;">Open Library</a>
                <a class="btn btn-lg btn-success" href="/catalogue/#/search/?f=map" role="button" style="margin: 5px;">Open Maps</a>
            </p>
        </div>
    </div>
</div>
