{% load i18n %}
{% load base_tags %}
{% load markdownify %}
{% load static %}

<div id="gn-hero" class="gn-hero" style="background-color: #38699b">
    <div class="jumbotron">
        <div class="gn-hero-description">
            <h1>SWAMM</h1>
            <p>Spatial Watershed Assessment and Management Model</p>
        </div>
        <p class="gn-hero-tools">
        </p>
    </div>
</div>

{% block extra_head %}
    <link href="{% static 'swamm/css/swamm_base.css' %}" rel="stylesheet"/>
    <link href="{% static 'swamm/css/swamm_home.css' %}" rel="stylesheet"/>
    <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
    <style type="text/css">
        #mc_embed_signup {
            background: transparent;
        }

        #mc_embed_signup form {
            text-align: center;
            padding: 10px 0 10px 0;
        }

        #mc_embed_signup form label {
            margin: 0;
        }

        #mc-embedded-subscribe {
            margin: auto;
            width: 270px !important;
            font-size: 24px;
            border: 2px solid #398f39 !important;
            border-radius: 8px !important;
        }

        #mc_embed_signup .mc-field-group {
            padding: 0;
            margin: auto;
            width: 270px !important;
            border-radius: 8px !important;
        }

        #mce-EMAIL {
            color: #155481;
        }

        .mc-field-group ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
            color: #c6c6c6;
            text-align: center;
        }

        .mc-field-group :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
            color: #c6c6c6;
            text-align: center;
            opacity: 1;
        }

        .mc-field-group ::-moz-placeholder { /* Mozilla Firefox 19+ */
            color: #c6c6c6;
            text-align: center;
            opacity: 1;
        }

        .mc-field-group :-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: #c6c6c6;
            text-align: center;
        }

        #mc_embed_signup div.response {
            color: white;
            padding: 20px;
            margin: 20px;
            width: 100%
        }

        #mce-success-response {
            color: white;
            padding: 20px;
            margin: 20px;
            width: 100%
        }


    </style>
    <!--LinkedIn metadata:-->
    <meta property="og:title" content="SWAMM - Managing Nutrient Loss."/>
    <meta property="og:description" content="Spatial Watershed Assessment and Management Model"/>
    <meta property="og:url" content="https://theswamm.com"/>
    <meta property="og:image" content="https://theswamm.com/static/img/swamm_map.png"/>
{% endblock extra_head %}