{% load i18n %}
{% load static %}
{% load account socialaccount %}

<div id="gn-hero" class="gn-hero hydrata-hero-background">
    <div class="jumbotron">
        <div class="gn-hero-description">
            <h1>Hydrata</h1>
            <p>An online interface to the ANUGA open source hydraulic model.</p>
            <p>Collaborative, transparent surface water modelling.</p>
        </div>
        <p class="gn-hero-tools">
        </p>
    </div>
</div>
{% if user.is_authenticated %}
<div>
    <div class="container text-center hero container-fluid">
        <div class="gn-container" style="text-shadow: none;">
            <div id="gn-home-anuga-resources-grid"></div>
        </div>
    </div>

    <div id="new-project-form">
        <form action="/anuga/api/project/" method="post">
            {% csrf_token %}
            <label for="name" id="project-create-text">Create New Project:</label>
            <input type="text" id="name" name="name" value="" placeholder="project name" class="project-create-text-input"/>
            <input type="submit" value="Create" class="btn btn-success"/>
        </form>
    </div>
</div>
{% else %}
<div class="container">
    <div id="home-page-forms">
        <div id="home-page-register-form">
            <p class="home-page-form-heading-text">Create Account</p>
            <form method="post" id="signup_form" action="{% url 'gn_anuga:home' %}">
                <div class="form-content">
                    <div class="form-group">
                        <label for="signup_email">Email:</label>
                        <input type="text" id="signup_email" name="email" placeholder="required" class="home-page-register-text-input"/>
                        {% if form.email.errors %}
                            <div class="home-page-form-error-messages">
                                {% for error in form.email.errors %}
                                    <p class="error-message">{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label for="signup_password1">Password:</label>
                        <div class="input-group">
                            <input type="password" id="signup_password1" name="password1" placeholder="required" class="form-control home-page-register-text-input"/>
                            <span class="input-group-addon">
                                <i id="signup-password-icon" class="glyphicon glyphicon-eye-open" onclick="toggleSignupPasswordVisibility()" style="cursor: pointer;"></i>
                            </span>
                            {% if form.password.errors %}
                                <div class="home-page-form-error-messages">
                                    {% for error in form.password.errors %}
                                        <p class="error-message">{{ error }}</p>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                      <label for="signup_first_name">First name:</label>
                      <input type="text" id="signup_first_name" name="first_name" placeholder="required" class="home-page-register-text-input"/>
                        {% if form.first_name.errors %}
                            <div class="home-page-form-error-messages">
                                {% for error in form.first_name.errors %}
                                    <p class="error-message">{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="form-group">
                      <label for="signup_last_name">Last name:</label>
                      <input type="text" id="signup_last_name" name="last_name" placeholder="required" class="home-page-register-text-input"/>
                        {% if form.last_name.errors %}
                            <div class="home-page-form-error-messages">
                                {% for error in form.last_name.errors %}
                                    <p class="error-message">{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="form-group">
                      <label for="signup_organization">Organisation:</label>
                      <input type="text" id="signup_organization" name="organization" placeholder="required" class="home-page-register-text-input"/>
                        {% if form.organization.errors %}
                            <div class="home-page-form-error-messages">
                                {% for error in form.organization.errors %}
                                    <p class="error-message">{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="form-group">
                      <input type="checkbox" id="signup_privacy_policy" name="privacy_policy" class="align-checkbox-left"/>
                      <label for="signup_privacy_policy">I have reviewed and agree to Hydrata's <br/><a href="/privacy-policy">Privacy Policy</a></label>
                        {% if form.privacy_policy.errors %}
                            <div class="home-page-form-error-messages">
                                {% for error in form.privacy_policy.errors %}
                                    <p class="error-message">{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="form-group">
                      <input type="checkbox" id="signup_terms_and_conditions" name="terms_and_conditions" class="align-checkbox-left"/>
                        <label for="signup_terms_and_conditions">I have reviewed and agree to Hydrata's <br/><a href="/terms-and-conditions">Terms and Conditions</a></label>
                        {% if form.terms_and_conditions.errors %}
                            <div class="home-page-form-error-messages">
                                {% for error in form.terms_and_conditions.errors %}
                                    <p class="error-message">{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="form-footer">
                    {% csrf_token %}
                    {{ form.captcha }}
                    {% if form.non_field_errors %}
                      <div class="alert alert-danger" role="alert">
                        {% for error in form.non_field_errors %}
                          {{ error }}
                        {% endfor %}
                      </div>
                    {% endif %}
                    <input type="submit" value="Create Account" class="btn btn-success"/>
                    {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                </div>
            </form>
        </div>
        <div id="home-page-signin-form">
            <form method="post" id="signin_form" action="{% url 'account_login' %}" autocapitalize="off">
                <div class="form-content">
                    <p class="home-page-form-heading-text">Existing User</p>
                    <div class="form-group">
                      <label for="signin_email">Email:</label>
                      <input type="text" id="signin_email" name="login" placeholder="email" class="home-page-register-text-input"/>
                    </div>
                    <div class="form-group">
                        <label for="signin_password">Password:</label>
                        <div class="input-group">
                            <input type="password" id="signin_password" name="password" placeholder="required" class="form-control home-page-register-text-input"/>
                            <span class="input-group-addon">
                                <i id="signin-password-icon" class="glyphicon glyphicon-eye-open" onclick="toggleLoginPasswordVisibility()" style="cursor: pointer;"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-footer">
                    {% csrf_token %}
                    <div class="form-footer-row">
                        <input type="submit" value="Login" class="btn btn-success" style="max-width: 100px"/>
                        <a href="/account/password/reset/">Forgot Password?</a>
                    </div>
                    {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container">
    <div class="row feature-circles">
        <div class="col-lg-4">
            <img class="img-circle" src="{% static 'hydratabase/img/secure.jpg' %}" alt="online" width="140" height="140">
            <h1 style="font-size: revert">Secure</h1>
            <p class="lead">Our web-based permissions system means you can securely share, review, run, and publish models, without installing any software.</p>
        </div>
        <div class="col-lg-4">
            <img class="img-circle" src="{% static 'hydratabase/img/growth.jpg' %}" alt="future" width="140" height="140">
            <h1 style="font-size: revert">Open Source</h1>
            <p class="lead">Built on the open-source ANUGA 2d hydraulic model. No licence fees. Run on your servers or buy compute time on ours.</p>
        </div>
        <div class="col-lg-4">
            <img class="img-circle" src="{% static 'hydratabase/img/redwood.jpg' %}" alt="agile" width="140" height="140">
            <h1 style="font-size: revert">Robust</h1>
            <p class="lead">Collaborative data creation means models get better with time. No more static PDF going out-of-date at the end of the contract.</p>
        </div>
    </div>
</div>
{% endif %}

<div class="container text-center hero container-fluid">
    <div class="gn-container" style="text-shadow: none;">
        <div id="gn-home-featured-resources-grid"></div>
    </div>
</div>

<footer class="footer gn-footer" style="border-top: solid #3d7eb5aa 1px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-align right">
                <span class="pull-right">
                    <a href="https://hydrata.com/" style="font-size:20px">
                        &copy Hydrata 2024 <img src="{{ STATIC_URL }}img/logo-bg-lowres.png" height="30px">
                    </a>
                </span>
            </div>
        </div>
    </div>
</footer>


{% block scripts %}
    <script>
        function toggleSignupPasswordVisibility() {
            let passwordInput = document.getElementById("signup_password1");
            let toggleIcon = document.getElementById("signup-password-icon");
            if (passwordInput.type === "password") {
                passwordInput.type = "text";
                toggleIcon.classList.remove("glyphicon-eye-open");
                toggleIcon.classList.add("glyphicon-eye-close");
            } else {
                passwordInput.type = "password";
                toggleIcon.classList.remove("glyphicon-eye-close");
                toggleIcon.classList.add("glyphicon-eye-open");
            }
        }
        function toggleLoginPasswordVisibility() {
            let passwordInput = document.getElementById("signin_password");
            let toggleIcon = document.getElementById("signin-password-icon");
            if (passwordInput.type === "password") {
                passwordInput.type = "text";
                toggleIcon.classList.remove("glyphicon-eye-open");
                toggleIcon.classList.add("glyphicon-eye-close");
            } else {
                passwordInput.type = "password";
                toggleIcon.classList.remove("glyphicon-eye-close");
                toggleIcon.classList.add("glyphicon-eye-open");
            }
        }

        console.log('context')
        let public_maps = "{{public_maps}}";
        let publications = "{{publications}}";
        let permitted_view_maps = "{{permitted_view_maps}}";
        let no_permitted_view_maps = "{{no_permitted_view_maps}}";
        console.log('public_maps', public_maps);
        console.log('publications', publications);
        console.log('permitted_view_maps', permitted_view_maps);
        console.log('no_permitted_view_maps', no_permitted_view_maps);
    </script>
{% endblock scripts %}