{% load static %}
{% load bootstrap_tags %}
{% load account socialaccount %}

<div id="home-page-forms">
    <div id="home-page-register-form">
        <p class="home-page-form-heading-text">Create Account</p>
        <form method="post" id="signup_form" action="{% url 'gn_anuga:hydrata-signup' %}">
            <div class="form-content">
                <div class="form-group">
                    <label for="signup_email">Email:</label>
                    <input type="text" id="signup_email" name="email" placeholder="required" class="home-page-register-text-input"/>
                    {% if form.email.errors %}
                        <div class="home-page-form-error-messages">
                            {% for error in form.email.errors %}
                                <p class="error-message">{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <div class="form-group">
                  <label for="signup_password1">Password:</label>
                  <input type="password" id="signup_password1" name="password1" placeholder="required" class="home-page-register-text-input"/>
                    {% if form.password.errors %}
                        <div class="home-page-form-error-messages">
                            {% for error in form.password.errors %}
                                <p class="error-message">{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <div class="form-group">
                  <label for="signup_first_name">First name:</label>
                  <input type="text" id="signup_first_name" name="first_name" placeholder="required" class="home-page-register-text-input"/>
                    {% if form.first_name.errors %}
                        <div class="home-page-form-error-messages">
                            {% for error in form.first_name.errors %}
                                <p class="error-message">{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <div class="form-group">
                  <label for="signup_last_name">Last name:</label>
                  <input type="text" id="signup_last_name" name="last_name" placeholder="required" class="home-page-register-text-input"/>
                    {% if form.last_name.errors %}
                        <div class="home-page-form-error-messages">
                            {% for error in form.last_name.errors %}
                                <p class="error-message">{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <div class="form-group">
                  <label for="signup_organization">Organisation:</label>
                  <input type="text" id="signup_organization" name="organization" placeholder="required" class="home-page-register-text-input"/>
                    {% if form.organization.errors %}
                        <div class="home-page-form-error-messages">
                            {% for error in form.organization.errors %}
                                <p class="error-message">{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="form-footer">
                {% csrf_token %}
                {% if form.non_field_errors %}
                  <div class="alert alert-danger" role="alert">
                    {% for error in form.non_field_errors %}
                      {{ error }}
                    {% endfor %}
                  </div>
                {% endif %}
                <input type="submit" value="Create Account" class="btn btn-success"/>
                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
            </div>
        </form>
    </div>
    <div id="home-page-signin-form">
        <form method="post" id="signin_form" action="{% url 'account_login' %}" autocapitalize="off">
            <div class="form-content">
                <p class="home-page-form-heading-text">Existing User</p>
                <div class="form-group">
                  <label for="signin_email">Email:</label>
                  <input type="text" id="signin_email" name="login" placeholder="email" class="home-page-register-text-input"/>
                </div>
                <div class="form-group">
                  <label for="signin_password">Password:</label>
                  <input type="password" id="signin_password" name="password" placeholder="password" class="home-page-register-text-input"/>
                </div>
            </div>
            <div class="form-footer">
                {% csrf_token %}
                <input type="submit" value="Login" class="btn btn-success"/>
                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
            </div>
        </form>
    </div>
</div>

{% block extra_script %}
    <script type="text/javascript">
        (function() {
            function manageUrlChange() {
                var signInElement = document.getElementById("sign-in");
                if (signInElement){
                    if (window.location.pathname === '/account/login/'){
                        signInElement.setAttribute("href", window.location.href)
                    }
                    else {
                        var href = signInElement.getAttribute("href").split("next=")[0];
                        var url_parts = window.location.href.split(window.location.pathname);
                        var path_name = encodeURIComponent(window.location.pathname + url_parts[url_parts.length-1]);
                        signInElement.setAttribute("href", href.concat("next=".concat(path_name)));
                    }
                }
            }
            window.addEventListener('DOMContentLoaded', manageUrlChange);
            window.addEventListener('hashchange', manageUrlChange, false);
        })();
    </script>
{% endblock extra_script %}